################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Triangulator oob/FileContentIndex
/.vs/Triangulator oob/v17
/Triangulator oob/bin/Debug
/Triangulator oob/obj/x86/Debug
